---
import PostCard from "../components/PostCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro 5 Content Layer">
  <h1>Liste des articles</h1>
  <ul class="card-list">
    <PostCard
      title="Premier Post"
      description="Contenu du premier post"
      href="/posts/post-1"
    />
    <PostCard
      title="Deuxième Post"
      description="Contenu du deuxième post"
      href="/posts/post-2"
    />
  </ul>
</Layout>
