---
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("posts");
---

<Layout title="Astro 5 Content Layer">
  <h1>Liste des articles</h1>
  <ul class="card-list">
    {
      posts.map(({ id, data: { title, description } }) => (
        <PostCard
          title={title}
          description={description}
          href={`/blog/${id}`}
        />
      ))
    }
  </ul>
</Layout>
